#header{
    height: 7rem;
   
}
.wrap{
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin :0 auto ;

}
.logo {
   position: absolute;
   width: 9rem;
   top: 50%;
    left:50%;
    transform: translate(-50%, -50%);


}
.logo img{
    width:100%;
    margin: 0
}
