@media  screen and (max-width: 400px){
    .a-dir {
        font-size:0.7rem
    }
}

@media (max-width:991px) {
    .footer .social {
      text-align:center;
      margin-top:20px;
    }
  }
  @media  screen and (max-width: 600px){

    .main-login-container {
      flex-direction: column-reverse;
      height:unset;
      
  }
}
