
header {
    position: relative;
    height: 1000px;
    min-height: 500px;
    width: 100%;
    background: #17719f url(./aboutMe.jpg) no-repeat top center;
    background-size: cover ;
     -webkit-background-size: cover ;
    text-align: left;
    overflow: hidden;
 }

 #nav-conteiner{
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
 }
 ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
 }
 ul#nav li {
    position: relative;
    list-style: none;
    height: 55px;
    display: inline-block;
 }
 
 /* Links */
 ul#nav li a {
 
     font-size: 20px;
    display: inline-block;
    padding: 8px 20px;
    line-height: 40px;
     text-decoration: none;
    text-align: left;
    color: rgb(75, 158, 235);
 
 }
 

 
 
 #about h2 {
    font: 80px/50px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
 }
 #about p {
    line-height: 30px;
    color: #ffffff;
 }

 #about .contact-details { width: 40%; }

 #about .main-col { padding-right: 5%; }
 #about .download .button {
    margin-top: 6px;
    background: #444;
 }
 #about .download .button:hover {
    background: #fff;
    color: #2B2B2B;
 }
 #about .download .button i {
    margin-right: 15px;
    font-size: 20px;
 }